@using ChatRoom.Client.Models
@using Microsoft.AspNetCore.SignalR.Client;

@implements IDisposable

@page "/"
@inject NavigationManager NavigationManager

<div>
    <div>
        @foreach (var message in _messages)
        {
            <MessageBox Content="@message.Content" Time="@message.Time"></MessageBox>
        }
    </div>
    <SendingBox OnSubmitted="OnSubmittedAsync"></SendingBox>
</div>

@code{
    private readonly IList<Message> _messages = new List<Message>();
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        _hubConnection.On<string,DateTime>("ReceiveMessage",(message,time)=>
        {
            _messages.Add(new Message
            {
                Content=message,
                Time=time
            });
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    private async Task OnSubmittedAsync(string message)
    {
        await _hubConnection.InvokeAsync("SendMessageAsync",message,DateTime.Now);
    }

    public void Dispose()
    {
        _=_hubConnection.DisposeAsync();
    }
}