.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.loading__title {
    text-align: center;
}

.loading__progress-ring {
    width: 30vw;
    height: 30vh;
}

.sending-box{
    display:flex;
    flex-flow:row nowrap;
    align-items:stretch;
}

.sending-box__input{
    flex-grow:1;
    height:100%;
    margin-right:16px;
}
.sending-box__button{
    height:auto;
}