<div class="message-box" @attributes="AdditionnalAttributes">
    @if (PreTime == default || Time - PreTime >= TimeSpan.FromMinutes(3))
    {
        <span class="message-box__time">@Time</span>
    }
    <div class="message-box__main">
        <img class="message-box__avatar" src="@Avatar" />
        <div class="message-box__section">
            <span class="message-box__nickname">@Nickname</span>
            <span class="message-box__content">@Content</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Avatar { get; set; }

    [Parameter]
    public string Nickname { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public DateTime Time { get; set; }

    [Parameter]
    public DateTime PreTime { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionnalAttributes { get; set; }
}
