
<div class="sending-box">
    <fluent-text-field class="sending-box__input" placeholder="message"></fluent-text-field>
    <fluent-button class="sending-box__button" @onclick="Send">Send</fluent-button>
</div>
@code {
    public void Send()
    {

    }
}
